<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Auth App</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/script.js" defer></script>
</head>
<body>
  {{{body}}}
</body>
</html>
